.addToCartBtn {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* HTML: <div class="loader"></div> */

.loader {
    position: relative;
    width: 17.5px;
    height: 17.5px;
}

.spinner {
    width: 100%;
    aspect-ratio: 1;
    --_c:no-repeat radial-gradient(farthest-side,#EAF2E3 92%,#0000);
    background: 
      var(--_c) top,
      var(--_c) left,
      var(--_c) right,
      var(--_c) bottom;
    background-size: 5px 5px;
    animation: l7 1s infinite;
  }
  @keyframes l7 {to{transform: rotate(.5turn)}
}

.successMessage {
    font-size: .7rem;
}
