.buttonsContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.amountBtnContainer,
.buttonContainer {
    display: flex;
    align-items: center;
    height: 60px;
    border-radius: 12px;
}

.amountBtnContainer {
    justify-content: space-between;
    background-color: rgb(161, 176, 132,.25);
    border: 3px solid #898989;
    padding: 0 15px;
}

.amountBtnContainer button {
    display: flex;
    justify-content: center;
    background: none;
    border: none;
    width: 30px;
    color: #14342B;
}

.addButton {
    justify-content: center;
    font-weight: 400;
    color: #EAF2E3;
}

.suggestContainer {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}

.productsContainer {
    display: flex;
}

