.products_carousel {
  padding: 0;
  margin: 0 auto;
  margin-right: -20px;
  display: flex;
  justify-content: space-between;
  gap: 9px;
  overflow-x: auto; /* Enable horizontal scrolling */
  scroll-behavior: smooth;
}

.products_carousel li{
  flex: 0 0 180px;
  height: 100%;
}

.products_carousel::-webkit-scrollbar {
  height: 8px;
}
  
  .products_carousel::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}
  
  .products_carousel::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.slickDots {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 10px;
  }
  
.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  cursor: pointer;
}

.products_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(156px, 1fr));
  gap: 24px 12px;
  padding: 0;
}

.products_grid li {
  max-width: 156px;
}


/* Optional: Style the active dot differently */
.dot.active {
  background-color: #333;
}
  
@media only screen and (min-width: 768px){
  /* styles for desktops */ 
    .products_grid {
      display: grid;
      margin: 0 auto;
      width: 80%;
      grid-template-columns:  repeat(auto-fill, minmax(322px, 1fr));
      gap: 32px 16px;
      padding: 0;
    }

    .products_carousel ul {
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
    }

    .products_grid li {
      max-width: 322px;
      height: fit-content;
    }
}



