.products_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(156px, 1fr));
  gap: 24px 12px;
  padding: 0;
}

.products_grid li {
  max-width: 156px;
}


/* Optional: Style the active dot differently */
.dot.active {
  background-color: #333;
}
  
@media only screen and (min-width: 768px){
  /* styles for desktops */ 
    .products_grid {
      display: grid;
      margin: 0 auto;
      width: 80%;
      grid-template-columns:  repeat(auto-fill, minmax(322px, 1fr));
      gap: 32px 16px;
      padding: 0;
    }

    .products_carousel ul {
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
    }

    .products_grid li {
      max-width: 322px;
      height: fit-content;
    }
}



