.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.imageContainer {
    width: 116px;
    width: 116px;
    height: auto;
}

.imageContainer img {
    border-radius: 6px;
}

.editContainer {
    width: 24px;
    height: 24px;
    margin-left: auto;
    cursor: pointer;
    transition: all ease .8s;
}

.editContainer:hover {
    opacity: .8;
}

.infosContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    padding: 0;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
}

.infoContent {
    box-sizing: border-box;
    width: 100%;
    min-height: 32px;
    border: 2px solid var(--dark-gray);
    background: none;
    border-radius: 4px;
    padding: 0 6px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: var(--black);
}

.infoContent {
    outline: none;
    font-family: inherit;
    transition: all ease .8s;
    font-size: 1rem;
    color: var(--black);
}

.infoContent::placeholder {
    color: var(--mid-gray);
    opacity: .8;
}

.infoContent:focus {
    border: 3px solid var(--black);
}

.infoContent::-webkit-outer-spin-button,
.infoContent::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.infoContent[type=number] {
    appearance: textfield;
  -moz-appearance: textfield;
}

.buttonsContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    gap: 24px;
}


.buttonContainer {
    width: 45%;
    max-width: 120px;
}

.buttonContainer button {
    height: 32px;
    background: none;
    border-radius: 6px;
}


.deleteBtn {
    color: var(--red);
    border: 2px solid var(--red);
}

.submitBtn {
    color: var(--black);
    border: 2px solid var(--black);
}

.deleteBtn:hover,
.deleteBtn:focus {
    opacity: 1;
    background-color: var(--red);
    color: var(--white);
}

.submitBtn:hover,
.submitBtn:focus {
    opacity: 1;
    background-color: var(--black);
    color: var(--white);
}

.loader {
    position: relative;
    width: 17.5px;
    height: 17.5px;
    margin: 0 auto;
}

.spinner {
    width: 100%;
    aspect-ratio: 1;
    --_c:no-repeat radial-gradient(farthest-side,var(--black) 92%,#0000);
    background: 
      var(--_c) top,
      var(--_c) left,
      var(--_c) right,
      var(--_c) bottom;
    background-size: 5px 5px;
    animation: l7 1s infinite;
  }
  @keyframes l7 {to{transform: rotate(.5turn)}
}

.redSpinner {
    --_c:no-repeat radial-gradient(farthest-side,var(--red) 92%,#0000);
}

button:hover .spinner, 
button:focus .spinner {
    --_c:no-repeat radial-gradient(farthest-side,var(--white) 92%,#0000);
}

.submitBtn:hover,
.submitBtn:focus {
    opacity: 1;
    background-color: var(--black);
    color: var(--white);
}

.red {
    color: var(--red);
}

.green {
    color: var(--black);
}

.successMessage {
    line-height: 1;
}

.vissible {
  display: block;
}

.hidden {
  display: none;
}

@media only screen and (min-width: 768px){
    /* styles for desktops */
    .container {
        width: 90%;
        max-width: 1228px;
        flex-direction: row;
        align-items: center;
        gap: 16px;
        position: relative;
        margin: 0 auto;
    }

    .imageContainer {
        width: 320px;
        height: 320px;
    }
    
    .imageContainer img {
        border-radius: 6px;
    }

    .editContainer {
        width: 28px;
        height: 28px;
        position: absolute;
        right: 0;
        top: 90px;
        margin-top: 2px;
    }

    .infosContainer {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 360px;
        padding: 100px 0;
    }
    
    .infoContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2px;
    }

    .infoContent {
        height: 52px;
        border: 3px solid var(--dark-gray);
        padding: 0 6px;
        font-size: 2rem;
        color: var(--black);
    }

    .buttonsContainer {
        display: flex;
        justify-content: space-between;
        width: 420px;
        margin-left: auto;
        height: 132px;
        gap: 24px;
        margin-top: 400px;
    }

    .buttonContainer {
        width: 50%;
        max-width: 230px;
    }

    .buttonContainer button {
        height: 54px;
    }

    .buttonContainer button p {
        font-size: 2rem;
    }
}