.navContainer {
    display: none;
}

.linksContainer {
    display: flex;
    margin: 0 auto;
    gap: 20px;
}

.linksContainer a {
    font-size: 2rem;
    color: var(--white);
    transition: all ease .8s;
}

.linksContainer a:hover {
    color: var(--white);
}

.linksContainer .active {
    color: var(--white);
    text-decoration: underline 2px solid;
    text-underline-offset: 12px;
}

@media only screen and (min-width: 768px){
    /* styles for desktops */
    .navContainer {
        display: flex;
        flex-direction: column;
        gap: 48px;
        color: var(--white);
    }

}