.container {
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 32px;
}

.linksSection {
    display: flex;
    flex-direction: column;
    color: var(--dark-gray);
    gap: 16px;
}

.link {
    width: 200px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    transition: all ease .8s;
    text-transform: uppercase;
}

.shoppingLink {
    border: 2px solid var(--black);
    color: var(--black);
}

.signInLink {
    border: 2px solid var(--primary-green);
    color: var(--primary-green);
}

.shoppingLink:hover,
.shoppingLink:focus {
    color: var(--white);
    background-color: var(--black);
}

.signInLink:hover,
.signInLink:focus {
    color: var(--white);
    background-color: var(--primary-green);
}

.suggestionSection {
    display: flex;
}

@media only screen and (min-width: 768px) {
    /* styles for desktops */

}