.container {
    padding: 10em 5.5%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headText {
    color: #7A8450;
    font-weight: 600;
}

.linkSection {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 10px;
}

.subText {
    font-weight: 600;
}

.link {
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    transition: all ease .8s;
}

.link:hover,
.link:focus {
    opacity: .8;
}

.link h5 {
    text-transform: uppercase;
    font-weight: 700;
}

.shoppingLink {
    background-color: #A1B084;
}

.signInLink {
    background-color: #14342B;
}