.cartHeader {
    height: 32px;
    width: calc(100% + 40px);
    background-color: var(--dark-gray);
    color: var(--white);
    display: flex;
    gap: 8px;
    margin: -20px -20px 0 -20px;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 72px;    
}

.cartItemContainer {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.subtotalContainer, 
.totalContainer {
    display: flex;
    justify-content: space-between;
}

.midDarkGray {
    color: var(--mid-gray);
}

.CheckoutBtn {
    margin-top: 30px;
    width: 60%;
    height: 50px;
    font-size: 1.2rem;
    text-transform: uppercase;
}