.cartHeader {
    height: 32px;
    width: calc(100% + 40px);
    background-color: var(--dark-gray);
    color: var(--white);
    display: flex;
    gap: 8px;
    margin: -20px -20px 0 -20px;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 72px;    
}

.cartItemContainer {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.discountSubtotalContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.subtotalContainer, 
.totalContainer {
    display: flex;
    justify-content: space-between;
}

.midDarkGray {
    color: var(--mid-gray);
}

.red {
    color: var(--red);
}

.orderContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
    text-align: center;
}

.divideLine {
    width: 100%;
    border: 1px solid var(--mid-gray);
}

.totalContent {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: flex-end;
}


.actionContainer {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    gap: 16px;
    align-items: center;
}

.link,
.CheckoutBtn {
    width: 200px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    transition: all ease .8s;
    text-transform: uppercase;
}

.shoppingLink {
    border: 2px solid var(--black);
    color: var(--black);
}

.shoppingLink:hover,
.shoppingLink:focus {
    color: var(--white);
    background-color: var(--black);
}

.CheckoutBtn {
    background-color: var(--primary-green);
    border: none;
}


@media only screen and (min-width: 768px) {
    /* styles for desktops */

    .linksSection {
        gap: 16px;
    }
    
    .link {
        width: 350px;
        height: 80px;
    }
}