.porductContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.imageContainer {
    position: relative;
    width: 100%;
}

.productImage {
    border-radius: 6px;
    object-fit: cover;
    height: auto;
}

.productInfos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
    color: var(--black);
}

.productInfos h3, .productInfos p{
    color: var(--black);
}

.productInfos .price {
    margin-bottom: 6px;
    color: #14342B;
}

.productInfos .priceContainer {
    display: flex;
    gap: 8px;
}

.productInfos .prevPrice {
    text-decoration-line: line-through;
    font-feature-settings: 'ordn' on;
    color: var(--dark-gray);
}

.productInfos .newPrice {
    color: var(--red);
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 26px;
    width: 100%;
}

@media only screen and (min-width: 768px){
    /* styles for desktops */
    .productInfos {
        gap: 14px;
    }

    .categoryContainer {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
}