.porductContainer {
    width: 100%;
    height: 100%;
    border: 2px solid #14342B;
    padding: 8px 6px;
}

.imageContainer {
    position: relative;
    width: 100%;
}

.productImage {
    border-radius: 6px;
    object-fit: cover;
    height: auto;
}

.productInfos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #14342B;
}

.productInfos p {
    color: #888888;
}

.productInfos .price {
    margin-bottom: 6px;
    color: #14342B;
}