.porduct_container {
    border: 2px solid #14342B;
    padding: 10px 6px;
}

.product_image {
    border-radius: 6px;
    width: 100%;
    height: auto;
}

.product_infos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #14342B;
}

.product_infos p {
    color: #888888;
}

.product_infos .price {
    margin-bottom: 6px;
    color: #14342B;
}