* {
    box-sizing: border-box;
}

html,body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #14342B;
    color: #14342B;
}

main {
    background-color: #EAF2E3;
    padding-bottom: 40px;
}

a {
    text-decoration: none;
    color: #EAF2E3;
}

button {
    cursor: pointer;
    font-family: inherit;
    background: #14342B;
    color: #EAF2E3;
    border: 3px solid #14342B;
    border-radius: 6px;
    width: 100%;
    padding: 3px 0;
    letter-spacing: .8px;
    transition: all ease .8s;
}

button p {
    font-size: .9rem;
}

button:hover,
button:focus {
    opacity: .8;
}

li {
    list-style: none;
}

/* FONT STYLING */

h1,h2,h3,h4,h5,p {
    margin: 0;
    padding: 0;
}

h1 /*Headtitle 1*/ { 
    font-size: 3rem;
    font-weight: 700;
}

h2 /*Headtitle 2*/{
    font-size: 2rem;
    font-weight: 600;
}

h3 /*Body 1*/{
    font-size: 1.875rem;
    font-weight: 600;
}

h4 /*Body 2*/ {
    font-size: 1.75rem;
}

h5 /*Body 3*/{
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 24px;
}

p /*Body 4*/{
    font-size: .85rem;
}

/* FOOTER STYLING */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    height: 40px;
    color: #EAF2E3;
    margin-top: auto;
}

@media only screen and (min-width: 577px) and (max-width: 844px) {
    /* styles for phones in landscape mode */
    h1 {
        font-size: 5rem;
        line-height: 100px;
    }

    
    h2 /*Headtitle 2*/{
        font-size: 3.25rem;
    }
}