:root {
    --primary-green: #1E9674;
    --mid-green: #0F7A5C;
    --dark-green: #02261C;
    --black: #000;
    --white: #fff;
    --dark-gray: #767676;
    --mid-gray: #9F9F9F;
    --mid-light-gray: #E3E3E3;
    --light-gray: #F1F1F1;
    --red: #E13838;
}

* {
    box-sizing: border-box;
}

html,body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: var(--dark-green);
    color: var(--black);
}

main {
    background-color: var(--white);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 60px;
    min-height: 690px;
}

a {
    text-decoration: none;
    color: var(--white);
}

button {
    cursor: pointer;
    font-family: inherit;
    color: var(--white);
    border-radius: 6px;
    width: 100%;
    padding: 3px 0;
    letter-spacing: .8px;
    transition: all ease 1s;
}

button:hover,
button:focus {
    opacity: .8;
}

li {
    list-style: none;
}

/* FONT STYLING */

h1,h2,h3,h4,h5,p {
    margin: 0;
    padding: 0;
    line-height: 1;
}

h1 /*Headtitle*/ { 
    font-size: 2rem;
    font-weight: 700;
}

h2 /*Subtitle*/{
    font-size: 1.5rem;
    font-weight: 700;
}

h3 /*Body bold*/{
    font-size: 1rem;
    font-weight: 700;
}

p /*Body */{
    font-size: 1rem;
    font-weight: 400;
}

/* FOOTER STYLING */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 82px;
    color: var(--white);
    margin-top: auto;
}

@media only screen and (min-width: 768px){
    /* styles for desktops */
    main {
        padding: 106px;
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 48px;
    }

    h1 /*Headtitle*/{
        font-size: 5rem;
    }

    
    h2 /*Subtitle*/{
        font-size: 2rem;
        font-weight: 700;
    }

    h3 /*Body bold*/{
        font-size: 2rem;
    }
    
    p /*Body */{
        font-size: 2rem;
    }
}
