* {
    box-sizing: border-box;
}

html,body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #14342B;
    color: #14342B;
}

main {
    background-color: #EAF2E3;
}

a {
    text-decoration: none;
    color: #EAF2E3;
}

button {
    cursor: pointer;
    font-family: inherit;
    background: #14342B;
    color: #EAF2E3;
    border: 3px solid #14342B;
    border-radius: 6px;
    width: 100%;
    padding: 3px 0;
}

/* FONT STYLING */

.logo--text {
    font-size: 1.5rem;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

h1,h2,h3,h4,h5,p {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
}

h5 {
    font-size: 1rem;
    font-weight: 400;
}

p {
    font-size: .75rem;
}
/* NAVBAR STYLING */

nav {
    display: flex;
    height: 70px;
    width: 89%;
    margin: 0 auto;
}

.header--logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo--icon {
    width: 42px;
}

.logo--icon,.logo--text {
    cursor: pointer;
}

.header--links {
    display: flex;
    align-items: center;
    margin-left: auto;
    color: #EAF2E3;
    gap: 12px;
}

li {
    display: flex;
    align-items: center;
    gap: 8px;
    list-style: none;
    font-size: .875rem;
}

.account--icon,.cart--icon {
    cursor: pointer;
}

.account--icon {
    width: 14px;
}

.cart--icon {
    width: 16px;
}