.hero_container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0 5.5%;
    background-image: url(/assets/mobile-bg.png);
    background-repeat: no-repeat;
    background-color: var(--white);
    background-size: 100% auto;
    height: 290px;
    margin: -20px;
}

.hero_container h1{
    font-weight: 700;
    text-transform: uppercase;
    color: var(--white);
    line-height: 30px;
    max-width: 220px;
    margin-top: 148px;
    text-shadow: 15px 10px 10px rgba(0, 0, 0, 0.4);
}

.products_container a {
    color: var(--black);
}

/* .callToActionContainer {

} */

.actionBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    width: 112px;
    height: 34px;
    margin-top: 16px;
    border-radius: 5px;
    background-color: var(--primary-green);
}

.brandsContainer {
    margin: 0 auto;
    margin-top: 24px;
    display: flex;
    justify-content: center;
    gap: 6px;
}

.brandButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 38px;
    background-color: var(--light-gray);
    color: var(--black);
}

.products_container {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    gap: 40px;
    padding: 0 5.5%;
}

.categoryContainer {
    margin: 0 -20px;
}

.sliderContainer {
    display: none;
}

@media only screen and (min-width: 768px){
    /* styles for desktops */

    .hero_container {
        background-image: url(/assets/big-bg.png);
        background-position: 0 -30px;
        height: 630px;
        margin: -106px;
    }
    
    .hero_container h1 {
        line-height: 90px;
        max-width: 100%;
        text-align: center;
    }
    
    
    .callToActionContainer {
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 520px;
    }

    .products_container {
        display: flex;
        flex-direction: column;
        gap: 48px;
        text-align: center;
        margin-top: 48px;
        padding: 0;
    }

    .actionBtn {
        width: 250px;
        height: 76px;
        border-radius: 6px;
        align-self: center;
    }
    
    .actionBtn h3 {
        font-weight: 700;
    }

    .products_container h2{
        font-size: 5rem;
        line-height: 90px;
        font-weight: 700;
    }

    .brandsContainer {
        margin-top: 32px;
        display: flex;
        justify-content: center;
        gap: 20px;
    }
    
    .brandButton {
        width: 180px;
        height: 72px;
    }

    .sliderContainer {
        display: contents;
    }

    .carouselContainer {
        display: none;
    }

    .categoryContainer {
        display: flex;
        flex-direction: column;
        gap: 32px;
        margin: 0;
    }
}
