.hero_container {
    display: flex;
    background-image: url(/assets/mobile-bg.png);
    background-repeat: no-repeat;
    background-color: #EAF2E3;
    background-size: 100% auto;
    height: 320px;
}

.hero_container h1{
    font-weight: 700;
    text-transform: uppercase;
    color: #EAF2E3;
    line-height: 40px;
    max-width: 220px;
    margin-left: 5.5%;
    margin-top: 60px;
    text-shadow: 15px 10px 10px rgba(0, 0, 0, 0.4);
}

.zeiti {
    color: #A1B084;
}

.products_container {
    margin-top: 50px;
    padding: 0 5.5%;
}

.products_container h2{
    /* text-decoration: underline; */
    font-weight: 800;
    font-size: 2.5rem;
    text-transform: uppercase;
    text-underline-offset: 3px;
    line-height: 30px;
}

@media only screen and (min-width: 577px) and (max-width: 844px) {
    /* styles for phones in landscape mode */

    .hero_container {
        background-image: url(/assets/big-bg.png);
        background-size: 130% auto;
        background-position: -200px -30px;
    }

    .hero_container h1 {
        max-width: 400px;
        line-height: 70px;
    }

    .products_container {
        text-align: left;
    }
}