.suggestContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.categoryContainer {
    margin: 0 -20px;
}

.sliderContainer {
    display: none;
}

@media only screen and (min-width: 768px) {
    /* styles for desktops */

    .sliderContainer {
        display: contents;
    }

    .carouselContainer {
        display: none;
    }

    .categoryContainer {
        display: flex;
        flex-direction: column;
        gap: 32px;
        margin: 0;
    }
}