@media only screen and (min-width: 768px){
    /* styles for desktops */
    .sliderWrapper {
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;
    }
    
    .btns {
        background: none;
        width: fit-content;
        border: none;
        cursor: pointer;
        z-index: 1;
    }
    
    .sliderContainer {
        display: flex;
        overflow-x: scroll;
        scroll-behavior: smooth;
        padding: 0;
        margin: 0 80px;
        list-style: none;
        width: 100%;
        min-width: 480px;
        gap: 0 40px;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
    }
    
    .sliderFewItmes {
        justify-content: center;
    }
    
    .sliderItem {
        flex: 0 0 33.3333%;
        box-sizing: border-box;
        scroll-snap-align: start;
        max-width: 322px;
    }
    
    .arrow {
        user-select: none;
    }
    
    .sliderContainer::-webkit-scrollbar {
        display: none; 
    }
    
    .sliderContainer {
        scrollbar-width: none;
    }
    
}