.nav {
    display: flex;
    height: 78px;
    width: 88.8%;
    min-width: 320px;
    margin: 0 auto;
}

.headerLogo {
    display: flex;
    align-items: center;
    gap: 4px;
}

.logoText {
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.logoIcon,
.logoText {
    cursor: pointer;
}

.headerLinks {
    display: flex;
    align-items: center;
    margin-left: auto;
    color: var(--white);
    gap: 8px;
}

.li {
    cursor: pointer;
    position: relative;
    align-items: center;
    height: 32px;
    display: flex;
}

.li::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #14342B;
    transition: width 0.5s ease-out;
}

.li:hover::before {
    width: 100%;
    background-color: var(--white);
}

.li a {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: .875rem;
}

.subHeader {
    display: none;
}

.searchBarContainer {
    display: none;
}

@media only screen and (min-width: 768px) {
    .nav {
        height: 120px;
        width: 85.275%;
        min-width: 320px;
        margin: 0 auto;
    }

    .headerLogo {
        gap: 16px;
    }

    .logoIcon {
        width: 110px;
    }

    .subHeader {
        height: 60px;
        width: 100%;
        background-color: var(--dark-gray);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 36px;
    }

    .searchBarContainer {
        display: flex;
        align-items: center;
        margin-left: auto;
    }

    .headerLinks {
        margin-left: 20px;
        gap: 16px;
    }

    .searchIcon {
        display: none;
    }

    .li::before {
        position: absolute;
        bottom: -12px;
        left: 0;
        width: 0;
        height: 3px;
        background-color: #14342B;
        transition: width 0.5s ease-out;
    }

}