.bottomContainer {
    padding: 0 5.5%;
}

.imageContainer {
    position: relative;
    width: 100%;
}

.productImage {
    object-fit: cover;
}

.infoContainer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.productName {
    color: #898989;
    margin-bottom: 10px;
}
