.container {
    display: flex;
    gap: 8px;
}

.imageContainer {
    height: 80px;
    width: 80px;
}

.imageContainer img {
    border-radius: 6px;
}

.infoContainer {
    display: flex;
    flex-direction: column;
}

.priceContainer {
    display: flex;
    gap: 8px;
}

.priceContainer .priceContainer {
    display: flex;
    gap: 8px;
}

.priceContainer .prevPrice {
    text-decoration-line: line-through;
    font-feature-settings: 'ordn' on;
    color: var(--dark-gray);
}

.priceContainer .newPrice {
    color: var(--red);
}

.actionContainer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    height: 20px;
    gap: 12px;
}
