.amountBtnContainer {
    display: flex;
    align-items: center;
    height: 20px;
    width: 42px;
    border-radius: 2px;
    justify-content: space-between;
    border: 2px solid var(--black);
    padding: 0 6px;
}

.amountBtnContainer button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    width: fit-content;
    color: var(--black);
}

.disabled h5{
    color: var(--dark-gray);
}

.amountBtnContainer button h5 {
    height: 5px;
    line-height: 0;
}